.header {
    position: fixed; /* Fija el encabezado en la parte superior de la pantalla */
    top: 0; /* Coloca el encabezado en la parte superior de la pantalla */
    left: 0; /* Coloca el encabezado al extremo izquierdo */
    width: 100%; /* Establece el ancho del encabezado al 100% de la pantalla */
    padding: 20px; /* Añade espacio de relleno alrededor del contenido del encabezado */
    background-color: #00ffff; /* Establece el color de fondo del encabezado */
    z-index: 1000; /* Asegura que el encabezado esté sobre otros elementos */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1ec4c4db; /* Cambia este valor por el color que desees */
    z-index: -1; /* Asegura que el fondo esté detrás de otros elementos */
}