
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.container {
    background-image: url('../../public/images/pantalla_inicio.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }

  
.h1 {
    color: whitesmoke;
    font-size: 24px; 
    font-family: 'Poppins', sans-serif;
    }



.header {
    position: fixed;
    top: 0;
    right: 0;
    /* padding: 40px; */
    padding-top: 10px;
    padding-right: 50px;
    }

.links-container {
    display: flex;
    }
      
.link {
    margin-right: 20px; 
    text-decoration: none;
    color: #4CAF50
    }

.ADDIcon{
    margin-top: 5px;
    margin-right: 30px;

    font-size: 25px;
    color: #4CAF50;
}

.joinicon{
    margin-top: 5px;
    margin-left: -15px;
    font-size: 25px;
    color: #4CAF50;
}
.linkregister{

    position: flex;
    margin-left: 15px;
    color: #4CAF50;
}

.titulopagina {
    font-size: 30px; /* Aumenta el tamaño de la fuente del título */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: calc(100vh - 80px); /* Ajusta la altura para dejar espacio para los botones */
    position: relative;
    top: -10px; /* Reduzca el desplazamiento hacia arriba */
}
