.background-tasks {
  background: url('../../../public/images/home_screen_dentro_app.png') no-repeat center center fixed;
  background-size: cover;
}

.word-counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.word-counter-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.file-input {
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.file-content {
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem;
  text-align: left;
}

.file-content pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.word-count {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}